# Daily descriptives (Company-wise)
## Select and describe top 30 companies for data from 01/JAN/14 - 31 DEC 2015

import python libraries

In [1]:
import pandas as pd
import numpy as np 
import pylab as P 
from datetime import datetime
# Import the module for plotting
import matplotlib.pyplot as plt
from pandas import Series,DataFrame,merge
plt.style.use('ggplot')

# Import daily data

In [2]:
# data import
dailyData = pd.read_csv('../data/csv/stocktwits_twitter_withretweets_daily.csv')
dailyData.head()

,SOURCE,SYMBOL,TIMESTAMP_UTC,BULLISH_INTENSITY,BEARISH_INTENSITY,BULL_MINUS_BEAR,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,BULL_BEAR_MSG_RATIO,TOTAL_SCANNED_MESSAGES
0,stocktwits+twitter_withretweets,10GEN,2011-04-08T04:00:00Z,0,0,0,0,0,0,2
1,stocktwits+twitter_withretweets,10GEN,2011-04-16T04:00:00Z,0,0,0,0,0,0,3
2,stocktwits+twitter_withretweets,10GEN,2011-04-17T04:00:00Z,0,0,0,0,0,0,2
3,stocktwits+twitter_withretweets,10GEN,2011-04-20T04:00:00Z,0,0,0,0,0,0,1
4,stocktwits+twitter_withretweets,10GEN,2011-07-19T04:00:00Z,0,0,0,0,0,0,3

In [106]:
dailyData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7120506 entries, 0 to 7120505
Data columns (total 11 columns):
SOURCE                    object
SYMBOL                    object
TIMESTAMP_UTC             object
BULLISH_INTENSITY         float64
BEARISH_INTENSITY         float64
BULL_MINUS_BEAR           float64
BULL_SCORED_MESSAGES      int64
BEAR_SCORED_MESSAGES      int64
BULL_BEAR_MSG_RATIO       float64
TOTAL_SCANNED_MESSAGES    int64
datetime                  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 651.9+ MB

### Filter to daterange - 01/JAN/14 - 31 DEC 2015

In [107]:
# convert all UTC time to datetime objects
#df['Mycol'] = df['Mycol'].apply(lambda x: 
dailyData['datetime'] = dailyData['TIMESTAMP_UTC'].apply(lambda x: datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ'))

query between dates 01/JAN/14 - 31 DEC 2016

In [108]:
dailyDataConstrained = dailyData[(dailyData['datetime'] > '2013-12-31') & (dailyData['datetime'] <= '2016-01-01')]

In [109]:
# set global epoch variable to numbers of days
# utcmax = datetime.strptime(dailyData['TIMESTAMP_UTC'].max(), '%Y-%m-%dT%H:%M:%SZ')
# utcmin = datetime.strptime(dailyData['TIMESTAMP_UTC'].min(), '%Y-%m-%dT%H:%M:%SZ')
startDate = dailyDataConstrained['datetime'].min()
endDate = dailyDataConstrained['datetime'].max()
epoch = (endDate-startDate).days
epoch
# dt.strptime()

730

# Import stocks information

In [110]:
stocks = pd.read_csv('../data/csv/symbols/stocks.csv')
stocks.head()

  EXCHANGE SYMBOL            TITLE Unnamed: 3 Unnamed: 4 Unnamed: 5
0      CME   6A_F  AUD/USD Futures        NaN        NaN        NaN
1      CME   6B_F  GBP/USD Futures        NaN        NaN        NaN
2      CME   6C_F  CAD/USD Futures        NaN        NaN        NaN
3      CME   6E_F  EUR/USD Futures        NaN        NaN        NaN
4      CME   6J_F  JPY/USD Futures        NaN        NaN        NaN

In [111]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9060 entries, 0 to 9059
Data columns (total 6 columns):
EXCHANGE      9060 non-null object
SYMBOL        9060 non-null object
TITLE         9060 non-null object
Unnamed: 3    1521 non-null object
Unnamed: 4    5 non-null object
Unnamed: 5    1 non-null object
dtypes: object(6)
memory usage: 495.5+ KB

In [112]:
stocks.EXCHANGE.unique()

array(['CME', 'EUREX', 'FX', 'ICE', 'INDEX', 'MISC', 'NASDAQ', 'NYSE',
       'NYSEArca', 'NYSEMkt', 'OTC', 'OTCBB', 'PRIVATE', 'TSX', 'TSXV'], dtype=object)

In [113]:
stocks.describe()

,EXCHANGE,SYMBOL,TITLE,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,9060,9060,9060,1521,5,1
unique,15,9057,8909,50,4,1
top,NASDAQ,PNP.CA,Merrill Lynch Depositor\,Inc.,Inc.,Oyo Oilfield
freq,3071,2,11,1331,2,1

# Merge daily data and stocks tables

In [114]:
# merge dataset left join
dailyStocks = merge(dailyDataConstrained, stocks, left_on='SYMBOL', right_on='SYMBOL', how = "left")

In [115]:
# crop to important information
dailyStocks = dailyStocks.ix[:,1:12]
dailyStocks.head()

,SYMBOL,TIMESTAMP_UTC,BULLISH_INTENSITY,BEARISH_INTENSITY,BULL_MINUS_BEAR,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,BULL_BEAR_MSG_RATIO,TOTAL_SCANNED_MESSAGES,datetime,EXCHANGE
0,10GEN,2014-01-28T05:00:00Z,0.0,0,0.0,0,0,0,2,2014-01-28 05:00:00,PRIVATE
1,10GEN,2014-02-22T05:00:00Z,1.9,0,1.9,2,0,0,2,2014-02-22 05:00:00,PRIVATE
2,10GEN,2014-03-10T04:00:00Z,0.0,0,0.0,0,0,0,2,2014-03-10 04:00:00,PRIVATE
3,10GEN,2014-03-25T04:00:00Z,0.0,0,0.0,0,0,0,1,2014-03-25 04:00:00,PRIVATE
4,10GEN,2014-06-11T04:00:00Z,0.0,0,0.0,0,0,0,1,2014-06-11 04:00:00,PRIVATE

In [116]:
# Group By Company Ticker Symbol
# Sum statistics
companyGrouped = dailyStocks.groupby(['SYMBOL'])
sumByCompany = companyGrouped.sum()

In [117]:
sumByCompany.head()

,BULLISH_INTENSITY,BEARISH_INTENSITY,BULL_MINUS_BEAR,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,BULL_BEAR_MSG_RATIO,TOTAL_SCANNED_MESSAGES
SYMBOL,,,,,,,
10GEN,3.06,0.00,3.06,3,0,0.00,11
1KM,1.91,0.00,1.91,1,0,0.00,1
4SQ,4.10,2.57,1.53,2,1,0.00,19
6A_F,391.30,260.73,130.57,527,318,81.06,2504
6B_F,147.90,144.65,3.25,183,131,24.38,1202

# Form descriptive statistics and save output to file

In [118]:
# statistic description for bull bear messages ratio by exchanges
statByCompany_Ratio = companyGrouped['BULL_BEAR_MSG_RATIO'].describe()
statByCompany = companyGrouped.describe()
# export the statistic description by exchanges
statByCompany.to_csv('../data/output/statByCompany.csv', encoding='utf-8')

In [119]:
# a table only contains the total quality of bullish, bearish and total messages for each exchange
messagesTable = sumByCompany.ix[:,[3,4,6]]

### Calculate total number of sentiment messages and sort

In [120]:
def sum_sentiment(x):    
    x['BULL_SCORED_MESSAGES'] + x['BEAR_SCORED_MESSAGES']
    
sentiment_totals = messagesTable['BULL_SCORED_MESSAGES'] + messagesTable['BEAR_SCORED_MESSAGES']
messagesTable['TOTAL_SENTIMENT_MESSAGES'] = sentiment_totals

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [134]:
# messagesTable.sort(messagesTable['TOTAL_SENTIMENT_MESSAGES'], ascending=False)
messagesTableSorted = messagesTable.sort('TOTAL_SENTIMENT_MESSAGES', ascending=False)
messagesTableSorted.head()

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,TOTAL_SCANNED_MESSAGES,TOTAL_SENTIMENT_MESSAGES
SYMBOL,,,,
MARKET,10620628,5463359,63780940,16083987
SP500,4871722,2006550,31009202,6878272
TECHNOLOGY,2379759,1021102,13708171,3400861
FINANCIAL,2082749,1088710,14643843,3171459
SERVICES,1442325,614418,9526903,2056743

# Filter top 30 companies

In [135]:
# filter data to remove sectors

sectorArray = ['INDUSTRIAL_GOODS', 'HEALTHCARE', 'FINANCIAL', 'SERVICES',
               'UTILITIES', 'TECHNOLOGY', 'BASIC_MATERIALS', 'CONSUMER_GOODS',
               'CONGLOMERATES']
indexArray = stocks.loc[~stocks['EXCHANGE'].isin(['NASDAQ', 'NYSE', 'NYSEArca', 'NYSEMkt', ''])].SYMBOL.unique()
# filterArray = np.concatenate([indexArray, sectorArray, ['MARKET', 'SP500']])
filterArray = np.concatenate([sectorArray, indexArray])
filterArray

array(['INDUSTRIAL_GOODS', 'HEALTHCARE', 'FINANCIAL', 'SERVICES',
       'UTILITIES', 'TECHNOLOGY', 'BASIC_MATERIALS', 'CONSUMER_GOODS',
       'CONGLOMERATES'],
      dtype='|S16')

In [136]:
#apply filter array
messagesTableSorted = messagesTableSorted[~messagesTableSorted.index.isin(filterArray)]

In [137]:
top30 = messagesTableSorted.head(30)
top30.reset_index(level=0, inplace=True)

In [138]:
top30merge = top30.merge(stocks, on='SYMBOL', how='left')
top30merge = top30merge.ix[:,[0,1,2,3,4,5]]
top30merge.head()

,SYMBOL,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,TOTAL_SCANNED_MESSAGES,TOTAL_SENTIMENT_MESSAGES,EXCHANGE
0,MARKET,10620628,5463359,63780940,16083987,MISC
1,SP500,4871722,2006550,31009202,6878272,NaN
2,SPY,383357,270208,1918368,653565,NYSEArca
3,AAPL,407060,220227,2288524,627287,NASDAQ
4,FB,195675,81437,1005429,277112,NASDAQ

In [139]:
# remove values for with no stock exchange
top30merge = top30merge[pd.notnull(top30merge['EXCHANGE'])]
# df = df[np.isfinite(df['EPS'])]

In [140]:
#add daily mean columns
# df['e'] = e
# df.apply(func, axis=1)
def daily_bull_mean(row):
        return row['BULL_SCORED_MESSAGES']/epoch
def daily_bear_mean(row):
    return row['BEAR_SCORED_MESSAGES']/epoch
top30merge['BULL_MEAN'] = top30merge.apply(daily_bull_mean, axis=1)
top30merge['BEAR_MEAN'] = top30merge.apply(daily_bear_mean, axis=1)
top30merge.ix[:,['SYMBOL', 'EXCHANGE', 'BULL_SCORED_MESSAGES', 'BULL_MEAN', 'BEAR_SCORED_MESSAGES', 'BEAR_MEAN', 'TOTAL_SCANNED_MESSAGES', 'TOTAL_SENTIMENT_MESSAGES']]

,SYMBOL,EXCHANGE,BULL_SCORED_MESSAGES,BULL_MEAN,BEAR_SCORED_MESSAGES,BEAR_MEAN,TOTAL_SCANNED_MESSAGES,TOTAL_SENTIMENT_MESSAGES
0,MARKET,MISC,10620628,14548,5463359,7484,63780940,16083987
2,SPY,NYSEArca,383357,525,270208,370,1918368,653565
3,AAPL,NASDAQ,407060,557,220227,301,2288524,627287
4,FB,NASDAQ,195675,268,81437,111,1005429,277112
5,SPX,INDEX,146962,201,104578,143,708476,251540
6,TWTR,PRIVATE,155058,212,77566,106,853386,232624
7,EURUSD,FX,107697,147,110027,150,666440,217724
8,TSLA,NASDAQ,113198,155,71879,98,654629,185077
9,NFLX,NASDAQ,98532,134,64946,88,529379,163478
10,QQQ,NASDAQ,85039,116,64652,88,454583,149691
11,ES_F,CME,78010,106,67961,93,428069,145971
12,AMZN,NASDAQ,102393,140,37303,51,526159,139696
13,GPRO,NASDAQ,78167,107,52421,71,361720,130588
14,PLUG,NASDAQ,85260,116,43854,60,384941,129114
18,GBPUSD,FX,55511,76,55369,75,267348,110880
19,IWM,NYSEArca,63477,86,46124,63,348948,109601
20,GOOG,NASDAQ,81705,111,25454,34,486848,107159
21,USDJPY,FX,61985,84,43458,59,307551,105443
22,GLD,NYSEArca,57001,78,32797,44,342805,89798
23,GILD,NASDAQ,60146,82,26385,36,296111,86531
24,CL_F,CME,45157,61,40234,55,219347,85391
25,MNKD,NASDAQ,49691,68,30786,42,255007,80477
26,UGAZ,NYSEArca,49820,68,29628,40,226096,79448
28,AUDUSD,FX,33503,45,34573,47,165465,68076
29,USO,NYSEArca,39852,54,28098,38,270807,67950

In [48]:
top30merge.describe()

,BULL_SCORED_MESSAGES,BEAR_SCORED_MESSAGES,TOTAL_SCANNED_MESSAGES,TOTAL_SENTIMENT_MESSAGES,BULL_MEAN,BEAR_MEAN
count,30.000000,30.000000,30.000000,30.000000,30.00000,30.000000
mean,57408.900000,30698.533333,272277.566667,88107.433333,78.20000,41.600000
std,67088.699013,37005.440666,332343.368627,103613.302378,91.93641,50.620699
min,23207.000000,6188.000000,83661.000000,36060.000000,31.00000,8.000000
25%,27228.000000,13780.750000,125755.000000,43743.500000,37.00000,18.250000
50%,34124.000000,17639.000000,162266.000000,50306.500000,46.50000,24.000000
75%,57839.750000,35806.750000,282351.250000,96854.250000,78.50000,48.750000
max,361594.000000,203669.000000,1835147.000000,565263.000000,495.00000,278.000000

In [62]:
# the percentage of bull messages 
bullPerc = top30merge['BULL_SCORED_MESSAGES']/top30merge['TOTAL_SCANNED_MESSAGES']
# the percentage of bear messages
bearPerc = top30merge['BEAR_SCORED_MESSAGES']/top30merge['TOTAL_SCANNED_MESSAGES']

In [63]:
# neutral = total - bull - bear
neutralCounts = top30merge['TOTAL_SCANNED_MESSAGES']-top30merge['TOTAL_SENTIMENT_MESSAGES']
# print (neutralCounts)
neutralPerc = neutralCounts/messagesTable['TOTAL_SCANNED_MESSAGES']

In [64]:
# check the total percentage = 1 or not
totalPerc = bullPerc + bearPerc + neutralPerc
# totalPerc

In [65]:
# add new columns to the table. by using 'insert(idx, col_name, value)'
top30merge.insert(2, 'NEUTRAL_SCORED_MESSAGES', neutralCounts)
# messagesTable

ValueError: cannot insert NEUTRAL_SCORED_MESSAGES, already exists

In [55]:
# change data format to %
bullPerc = bullPerc.apply(lambda x: format(x, '.2%'))
bearPerc = bearPerc.apply(lambda x: format(x, '.2%'))
neutralPerc = neutralPerc.apply(lambda x: format(x, '.2%'))

In [47]:
# sentiment summary by stock exchange
sentiOutcome = top30merge
sentiOutcome.insert(1,'BULL_PERC', bullPerc)
sentiOutcome.insert(3,'BEAR_PERC', bearPerc)
sentiOutcome.insert(5,'NEUTRAL_PERC', neutralPerc)
# sentiOutcome

In [ ]:
# export to a csv file
sentiOutcome.to_csv('../data/output/sentimentSummaryByCompany.csv', encoding='utf-8')